#browse table{font-size:12px;}
#browse table th.icon,#browse table th.status{width:32px}
#browse table th.size,#browse table th.bounds,#browse table td.size,#browse table td.bounds{text-align:center}
#browse table td.size span{display:inline-block}
#browse table td.size .bytes{width:38px;text-align:right}
#browse table td.size .compress{width:40px;margin:0 0 0 6px;font-size:10px}
#browse table td.size .control{margin:0 0 0 4px;}
#browse table td.size .control .glyphicon{margin:0 0 0 4px}
.breadcrumb li a{cursor:pointer}
.table-hover td{cursor:pointer}
.balmung-preview-header h5{text-align:center}
.balmung-preview-header .background-changer{text-align:center;}
.balmung-preview-header .background-changer .btn-group{padding:0 2px}
.balmung-preview-body .compress,.balmung-preview-body .center{text-align:center}
.balmung-preview-body .images{padding:10px;margin:0 -20px;background-image:url("/img/mesh.png");background-repeat:repeat;text-align:center;cursor:pointer;}
.balmung-preview-body .images img:first-child{margin-right:10px}
.balmung-preview-body .zoomer{position:absolute;margin:0 -20px;padding:10px;text-align:center}
.balmung-preview-body .left,.balmung-preview-body .work{text-align:right}
.balmung-preview-body .bytes .value{font-weight:bold;font-size:18px}
.balmung-preview-body .bytes .unit{font-size:14px}
.zoomed{position:absolute;z-index:10000;top:0;left:0}
