#browse table{font-size:12px;}
#browse table th.status{width:80px}
#browse table th.size,#browse table th.bounds,#browse table td.size,#browse table td.bounds,#browse table td.control{text-align:center}
#browse table td.status .glyphicon{margin:0 0 0 2px}
#browse table td.name:hover{background-color:#fdd;cursor:pointer}
#browse table td.control span{margin:0 2px;cursor:pointer}
#browse table td.size{cursor:pointer;}
#browse table td.size span{display:inline-block}
#browse table td.size span.glyphicon{cursor:pointer}
#browse table td.size .bytes{width:38px;text-align:right}
#browse table td.size .glyphicon-arrow-right{margin:0 4px}
#browse table td.size .compress{width:40px;margin:0 0 0 6px;font-size:10px}
#browse table td.size .control{margin:0 0 0 4px;}
#browse table td.size .control .glyphicon{margin:0 0 0 4px}
#browse table td.size .glyphicon-asterisk{font-size:8px;margin-left:2px}
#browse table td.size:hover{background-color:#fdd}
.breadcrumb li a{cursor:pointer}
.well{background-color:#ddd;border-radius:0}
.settings .title{color:#000}
.settings .head{float:left;}
.settings .head .title{font-size:11px;font-weight:bold;margin-right:10px}
.settings .setting{float:left;padding-right:2px;}
.settings .setting .label{border-radius:0;cursor:pointer;}
.settings .setting .label .value{color:#933;margin-left:4px;font-size:12px;text-decoration:underline}
.settings .setting .label-param{color:#333;background:#fff;border-left:none}
.settings .setting .label:first-child{border-top-left-radius:3px;border-bottom-left-radius:3px}
.settings .setting .label:last-child{border-top-right-radius:3px;border-bottom-right-radius:3px}
.settings .control .glyphicon{padding:3px;cursor:pointer}
.table-hover td{cursor:pointer}
.balmung-preview-header h5{text-align:center}
.balmung-preview-header .background-changer{text-align:center;}
.balmung-preview-header .background-changer .btn-group{padding:0 2px}
.balmung-preview-body .compress,.balmung-preview-body .center{text-align:center}
.balmung-preview-body .images{padding:10px;margin:0 -20px;background-image:url("/img/mesh.png");background-repeat:repeat;text-align:center;cursor:pointer;}
.balmung-preview-body .images img:first-child{margin-right:10px}
.balmung-preview-body .zoomer{position:absolute;margin:0 -20px;padding:10px;text-align:center}
.balmung-preview-body .left,.balmung-preview-body .work{text-align:right}
.balmung-preview-body .bytes .value{font-weight:bold;font-size:18px}
.balmung-preview-body .bytes .unit{font-size:14px}
.balmung-preview-body .status{text-align:center}
.zoomed{position:absolute;z-index:10000;top:0;left:0}
.tooltip.slider{z-index:10010;margin-left:-54px;opacity:1;}
.tooltip.slider form{padding:4px;}
.tooltip.slider form input[type="number"]{width:60px;margin-left:20px;padding:0 8px;text-align:center}
.tooltip.slider form input[type="range"]{width:100px;margin-top:8px}
.growl{position:fixed;top:60px;right:10px;float:right;width:350px}
.growl-item.ng-enter,.growl-item.ng-leave{-webkit-transition:.2s linear all;-moz-transition:.2s linear all;-o-transition:.2s linear all;transition:.2s linear all}
.growl-item.ng-enter,.growl-item.ng-leave.ng-leave-active{opacity:0}
.growl-item.ng-leave,.growl-item.ng-enter.ng-enter-active{opacity:1}
.spin{-webkit-animation-name:spin;-webkit-animation-duration:1s;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:linear}
@-moz-keyframes spin{0%{-webkit-transform:rotate(0)}
100%{-webkit-transform:rotate(360deg)}
}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0)}
100%{-webkit-transform:rotate(360deg)}
}@-o-keyframes spin{0%{-webkit-transform:rotate(0)}
100%{-webkit-transform:rotate(360deg)}
}@-ms-keyframes spin{0%{-webkit-transform:rotate(0)}
100%{-webkit-transform:rotate(360deg)}
}@keyframes spin{0%{-webkit-transform:rotate(0)}
100%{-webkit-transform:rotate(360deg)}
}