
#browse
  table
    font-size 12px
    th.status
      width 60px
    th.size, th.bounds, td.size, td.bounds, td.control
      text-align center
    td.status
      .glyphicon
        margin 0 0 0 2px
    td.name:hover
      background-color #fdd
      cursor pointer
    td.control
      span
        margin 0 2px
        cursor pointer
    td.size
      cursor pointer
      span
        display inline-block
      span.glyphicon
        cursor pointer
      .bytes
        width 38px
        text-align right
      .glyphicon-arrow-right
        margin 0 4px
      .compress
        width 40px
        margin 0 0 0 6px
        font-size 10px
      .control
        margin 0 0 0 4px
        .glyphicon
          margin 0 0 0 4px
      .glyphicon-asterisk
        font-size 8px
        margin-left 2px
    td.size:hover
      background-color #fdd

.breadcrumb
  li
    a
      cursor: pointer

.well
  background-color #ddd
  border-radius 0px

.settings
  .title
    color #000
  .head
    float left
    .title
      font-size 11px
      font-weight bold
      margin-right 10px
  .setting
    float left
    padding-right 2px
    .label
      border-radius 0
      cursor pointer
      .value
        color #933
        margin-left 4px
        font-size 12px
        text-decoration underline
    .label-param
      color #333
      background #fff
      border-left none
      .tooltip
        margin-left -54px
        opacity 1
        form
          padding 4px
        input[type="number"]
          width 60px
          margin-left 20px
          padding 0 8px
          text-align center
        input[type="range"]
          width 100px
          margin-top 8px
    .label:first-child
      border-top-left-radius 3px
      border-bottom-left-radius 3px
    .label:last-child
      border-top-right-radius 3px
      border-bottom-right-radius 3px
  .control
    .glyphicon
      padding 3px
      cursor pointer

.table-hover
  td
    cursor: pointer

.balmung-preview-header
  h5
    text-align center
  .background-changer
    text-align center
    .btn-group
      padding 0 2px
.balmung-preview-body
  .compress, .center
    text-align center
  .images
    padding 10px
    margin 0 -20px
    background-image url(/img/mesh.png)
    background-repeat repeat
    text-align center
    cursor pointer
    img:first-child
      margin-right 10px
  .zoomer
    position absolute
    margin 0 -20px
    padding 10px
    text-align center
  .left, .work
    text-align right
  .bytes
    .value
      font-weight bold
      font-size 18px
    .unit
      font-size 14px
  .status
    text-align center
.zoomed
  position absolute
  z-index 10000
  top 0px
  left 0px


/**
 * angular-growl - v0.4.0 - 2013-11-19
 * https://github.com/marcorinck/angular-growl
 * Copyright (c) 2013 Marco Rinck; Licensed MIT
 */
.growl
  position fixed
  top 60px
  right 10px
  float right
  width 350px
.growl-item.ng-enter, .growl-item.ng-leave
  -webkit-transition .2s linear all
  -moz-transition .2s linear all
  -o-transition .2s linear all
  transition .2s linear all
.growl-item.ng-enter,.growl-item.ng-leave.ng-leave-active
  opacity 0
.growl-item.ng-leave,.growl-item.ng-enter.ng-enter-active
  opacity 1

.spin
  -webkit-animation-name spin
  -webkit-animation-duration 1s
  -webkit-animation-iteration-count infinite
  -webkit-animation-timing-function linear

@keyframes spin
  0%
    -webkit-transform rotate(0deg)
  100%
    -webkit-transform rotate(360deg)
