
#browse
  table
    font-size 12px
    th.icon, th.status
      width 32px
    th.size, th.bounds, td.size, td.bounds
      text-align center
    td.size
      span
        display inline-block
      .bytes
        width 38px
        text-align right
      .compress
        width 40px
        margin 0 0 0 6px
        font-size 10px
      .control
        margin 0 0 0 4px
        .glyphicon
          margin 0 0 0 4px

.breadcrumb
  li
    a
      cursor: pointer

.table-hover
  td
    cursor: pointer

.balmung-preview-header
  h5
    text-align center
  .background-changer
    text-align center
    .btn-group
      padding 0 2px
.balmung-preview-body
  .compress, .center
    text-align center
  .images
    padding 10px 0
    background-image url(/img/mesh.png)
    background-repeat repeat
    margin-right -20px
    margin-left -20px
  .work, .left
    text-align right
