#browse

  ol.breadcrumb
    li
      a(ng-bind='path')

  // .well.well-sm(balmung-setting, settings='settings', path='path', title='SETTINGS', optimize-icon='true')

  // Ratio changer
  ul
    li(ng-repeat='file in files')
