
.modal-header.balmung-preview-header
  h5 {{file.path}}
  .background-changer
    .btn-group
      button.btn.btn-sm.btn-primary(ng-click='bgchange("/img/mesh.png")') Mesh
    .btn-group
      button.btn.btn-sm.btn-primary(ng-click='bgchange("white")') White
      button.btn.btn-sm.btn-primary(ng-click='bgchange("gray")') Gray
      button.btn.btn-sm.btn-primary(ng-click='bgchange("black")') Black
      button.btn.btn-sm.btn-primary(ng-click='bgchange("red")') Red
      button.btn.btn-sm.btn-primary(ng-click='bgchange("green")') Green
      button.btn.btn-sm.btn-primary(ng-click='bgchange("blue")') Blue
.modal-body.balmung-preview-body(balmung-preview)
  .row(ng-if='settings')
    .well.well-sm(balmung-setting, settings='settings', path='file.path')

  .row
    .col-xs-5.left
      .bytes
        span.value {{work.size | number}}
        span.unit  bytes
    .col-xs-2.center
      .arrow
        span.glyphicon.glyphicon-arrow-right
        span.glyphicon.glyphicon-repeat.spin(ng-if='optimizing')
      .compress {{(1 - dst.size / work.size) | percentage}}
    .col-xs-5.right
      .bytes
        span.value {{dst.size | number}}
        span.unit  bytes
  .zoomer
  .images
.modal-footer
  button.btn.btn-default(ng-click='cancel()') Close
